@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@layer base {
  @font-face {
    font-family: 'PretendardVariable';
    src: url('/public/assets/fonts/PretendardVariable.ttf') format('ttf');
  }
}

html,
body {
  font-family: 'PretendardVariable', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.swiper .swiper-pagination {
  display: flex;
  justify-content: flex-start;
  margin-left: 16px;
  margin-bottom: 8px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #69ffa5;
}

.swiper .swiper-pagination-bullet {
  background-color: #515151;
  width: 6px;
  height: 4px;
  border-radius: 6px;
  margin: 0 2px !important;
  opacity: 1;
}

.swiper .swiper-pagination-bullet:first-child {
  width: 17px;
  height: 4px;
}
